<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->

            <div id="sidebar" class="well sidebar-nav">
                <h5><i class="glyphicon glyphicon-home"></i>
                    <small><b>ANONYMOUS MENAGEMENT</b></small>
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li ><a href="#" th:href="@{/admin/restaurantList}" target="ifram">List restaurants</a></li>

                </ul>
                <h5><i class="glyphicon glyphicon-user"></i>
                    <small><b>Group orders</b></small>
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#" th:href="@{/groupOrders}" target="ifram">Group orders</a></li>

                </ul>
            </div>
        </div>
        <div class="col-md-8" >
            <iframe class="embed-responsive-item" name="ifram"
                    src="file:///C:\Users\ING\IdeaProjects\beginning\src\main\resources\templates\order.html"
                    style="height:700px;width:900px; border: none;">

            </iframe>
        </div>
    </div>
</div>
</div>

</body>
</html>



