<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function copyFunction() {
            var copyText = document.getElementById("urlLink");
            copyText.select();
            document.execCommand("copy");
            alert("URL copied to clipboard.");
        }
    </script>
    <style>

        #myProgress {
            width: 100%;
            background-color: grey;
            text-align: center;
            color: white;
        }

        #myBar {
            width: 0%;
            height: 30px;
            background-color: #4CAF50;
            /* To center it horizontally (if you want) */
            line-height: 30px; /* To center it vertically */
            color: white;
        }

        .table-wrapper-scroll-y {
            display: block;
            max-height: 200px;
            overflow-y: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    </style>

</head>
<body>
<ul class="pager">
    <!--<li class="previous"><a th:href="@{/home}">Home</a></li>-->
</ul>

<div class="container" style="overflow: hidden;">
    <div class="col-md-12 col-md-offset-1" style="overflow: hidden;">
        <div class="col-md-12 col-md-offset-1" style="overflow: hidden;">
        <div class="col-md-6" style="float: left;">

            <h3><b>Order infomations:</b></h3>
            <p th:text="'Creator: ' + ${order.creator}"></p>
            <p th:text="'Expires: ' + ${order.endTime}"></p>
            <p>Restaurant: <a th:href="${'http://localhost:8080/editRestaurant/' + order.restaurant.id}"
                              th:text="${order.restaurant.name}"></a></p>
            <p th:text="'Restaurant phone number: ' + ${order.restaurant.phoneNo} "></p>
            <p>Menu link: <a th:href="@{'/showMenu/'+${order.restaurant.menuUrl}}" th:text="${order.restaurant.menuUrl}"></a></p>
            <!--<p id="endTime" hidden th:value="${order.endTime}" ></p>-->
            <p hidden th:value="${order.id}" id="orderID"></p>
            <input type="text" th:value="${'localhost:8080/orderDetails/' + order.id}" id="urlLink">
            <button onclick="copyFunction()">Copy URL</button>
            <br/>
            <input hidden th:value="${order.endTime.toInstant()}" id="test1">

        </div>

        <div class="col-md-6" style="float: right;">



        </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <br>
        <div id="myProgress" th:if="${order.endTime.after(#temporals.createNow())}">
            <div id="myBar"></div>
        </div>
        <br/>
        <hr/>

        <div id="acctive" th:if="${order.endTime.after(#temporals.createNow())}">
            <form class="form-horizontal" th:action="@{'/addItems/'+ ${order.id}}" th:object="${Item}" method="post">
                <div class="form-group">
                    <label class="control-label col-md-2" for="itemName">Item name:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" required id="itemName" placeholder="Enter item name..."
                               th:field="*{item}">
                        <label style="color: red" th:if="${#fields.hasErrors('item')}" th:errors="*{item}"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="price">Price:</label>
                    <div class="col-md-10">
                        <input type="number" min="1" class="form-control" id="price" placeholder="Enter price..."
                               th:field="*{price}" th:value="0">
                        <label style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="employeename">Employe name:</label>
                    <div class="col-md-10">
                        <input type="text" required class="form-control" id="employeename" placeholder="Enter employe name..."
                               th:field="*{creator}">
                        <label style="color: red" th:if="${#fields.hasErrors('creator')}" th:errors="*{creator}"></label>
                    </div>
                </div>


                <!--<input type="hidden" th:field="*{groupOrder}" th:value="${item.groupOrder}"/>-->

                <button type="submit" class="btn btn-success">Add item</button>
            </form>
            <br/>
            <form method="get" th:action="@{'/itemsList/' + ${order.getId()}}" th:object="${order}"><input type="submit"
                                                                                                           class="btn btn-primary"
                                                                                                           VALUE="ITEMS LIST">
            </form>
        </div>
        <div th:unless="${order.endTime.after(#temporals.createNow())}">
            <p style="color:red; background: rgba(246,246,246,0.02); font-size: 42px"><b>YOU ARE LATE, THE ORDER HAS
                EXPIRED </b></p>
            <a th:unless="${order.orderSent}" type="button" class="btn btn-warning" th:href="@{'/mail/send/' + ${order.id}}">SEND ORDER</a>

        </div>
        <hr/>
        <h3>Items:</h3>
        <div class="table-wrapper-scroll-y">
            <table id="refresh" class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Employee name</th>
                    <th>Item name</th>
                    <th>Item price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${order.getItems()}">
                    <td th:text="${item.creator}"></td>
                    <td th:text="${item.item}"></td>
                    <td th:text="${item.price}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Employee name
                    </th>
                    <th>Item name
                    </th>
                    <th>Item price
                    </th>
                    <th th:text="'Total price : ' + ${order.getTotalPrice()}"></th>

                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<p id="test"></p>
<script>
    $(document).ready(setInterval(function () {
        // var id = $("#orderID").val();
        $('#refresh').load("/orderDetails/" + "[[${order.id}]]" + " #refresh");

        $(document).getElementById("#totalPrice").innerHTML = "[[${order.totalPrice}]]"
    }, 2000));


    $(document).ready(function () {
        $('#refresh').DataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
        })
    });


    $(document).ready(function () {
        $('#refresh').DataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
        });

    });
    $(document).ready(function () {

        var h1 = document.getElementById("myProgress"),
            seconds = "[[${order.timeLeft}]]" % 60, minutes = Math.floor("[[${order.timeLeft}]]" / 60),
            hours = Math.floor("[[${order.timeLeft}]]" / 3600);
        ;

        function decrease() {
            seconds--;


            if (seconds <= 0) {
                seconds = 59;
                minutes--;
                if (minutes <= 0) {
                    minutes = 59;
                    hours--;
                }
            }
            if (hours >= 0) {
                h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
                timer();
            } else {
                h1.textContent = "EXPIRED";
                location.reload();
            }

        }

        function timer() {
            t = setTimeout(decrease, 1000);
        }

        timer();
    });
    // var table = setTimeout(refres,2000);
    //    function refres(){
    //         $.ajax({
    //             type : "GET",
    //             url : "/api/ss/" + "[[${order.id}]]",
    //             success: function(result){
    //                 $.each(result, function(i, customer){
    //
    //                     var customerRow = '<tr>' +
    //                         '<td>' + customer.id + '</td>' +
    //                         '<td>' + customer.name.toUpperCase() + '</td>' +
    //                         '<td>' + customer.price + '</td>' +
    //                         '<td>' + customer.item + '</td>' +
    //
    //                         '</tr>';
    //
    //                     $('#refresh tbody').append(customerRow);
    //
    //                 });
    //
    //
    //             },
    //             error : function(e) {
    //                 alert("ERROR: ", e);
    //                 console.log("ERROR: ", e);
    //             }
    //         })
    //
    //
    //     }

    // DO GET


    // do Filter on View


</script>
</body>
</html>