<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Order list</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <!--<script-->
            <!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script-->
            <!--src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->
<body>


<h2>GROUP ORDERS LIST</h2>
<h2 th:if="${restaurant}!=null" th:text="'FOR '+ ${restaurant}"> </h2>
<table  class="table table-striped">
    <thead>
    <tr>
        <th>Group order url</th>
        <th>Creator</th>
        <th>Closing time</th>
        <th th:if="${restaurant}==null">Restaurant</th>
        <th th:if="${restaurant}==null">Phone</th>
        <th th:if="${restaurant}==null">Menu download link</th>
        <th th:if="${restaurant}==null">Show menu</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groupOrderList}"   >
        <div th:if="${group.endTime.after(#temporals.createNow()) || !group.orderSent}">
        <td ><a th:text="${'localhost:8080/orderDetails/'+ group.id}">Group order url</a></td>
        <td th:text=${group.creator}>Creator</td>
            <td th:text="${group.endTime}">Closing time</td>
            <td th:if="${restaurant}==null" th:text="${group.restaurant.name}">Restaurant</td>
            <td th:if="${restaurant}==null" th:text="${group.restaurant.phoneNo}">Phone</td>
            <td th:if="${restaurant}==null" ><a  th:text="${group.restaurant.menuUrl}" th:href="@{'/downloadMenu/'+${group.restaurant.menuUrl}}"></a></td>
            <td th:if="${restaurant}==null" ><a th:text="${group.restaurant.menuUrl}" th:href="@{'/showMenu/'+${group.restaurant.menuUrl}}"></a></td>




        <td>
            <div th:if="${group.endTime.after(#temporals.createNow())}" class="dropdown">
                <button class="btn btn-primary"  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ADD ITEM <span th:text="${group.getItems().size()}" class="badge badge-light"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <form th:object="${item}" th:action="@{'/addItem/'+${group.id}}" method="post">
                        <div class="form-group">
                            <label for="creator">Creator</label>
                            <input type="text" th:field="*{creator}" class="form-control" id="creator" >
                            <label type="text" style="font-family: 'Courier New'; color: red;" th:if="${#fields.hasErrors('creator')}" th:errors = "*{creator}">Name error</label>
                        </div>
                        <div class="form-group">
                            <label for="item">Item</label>
                            <input type="text" class="form-control" th:field="*{item}" id="item" >
                            <label type="text" style="font-family: 'Courier New'; color: red;" th:if="${#fields.hasErrors('item')}" th:errors = "*{item}">Name error</label>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" th:field="*{price}" id="price" >
                            <label type="text" style="font-family: 'Courier New'; color: red;" th:if="${#fields.hasErrors('price')}" th:errors = "*{price}">Name error</label>
                        </div>
                        <button type="submit" style="align-content: center;" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>

            <a type="button" class="btn btn-warning" th:unless="${group.endTime.after(#temporals.createNow())}" th:href="@{'/mail/send/' + ${group.id}}">SEND ORDER</a>





            </td>
            <td>   <form  method="get" th:action="@{'/orderDetails/' + ${group.getId()}}" th:object="${group}"><input type="submit"  class="btn btn-danger" value="DETAILS"> </form></td>

        </div>

    </tr>
    </tbody>
</table>


</div>
<script>
    $(document).ready(setInterval(function () {
        window.location.reload();

    }, 15000))
</script>

</body>
</html>
<!--th:if="${group.getCreateTime().after(#temporals.createNow())}"-->
<!--<td > <a type="button" class="btn btn-primary" th:href="@{'/anonymous/grouporder/' + ${group.getGroup_id()}}">ADD ORDER</a></td>-->
