<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>
<body>
<!-- header -->
<div class="container-fluid header">
    <header>

    </header>
</div>
<!-- end header -->

<!-- menu navbar -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto col-sm-3 col-md-3">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/restList}" th:target="content">MUNCHIES <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" th:href="@{'employee'}" href="#" id="employee" onclick="employee()" target="content">Employee portal</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#" th:href="@{/login}" target="content">Admin portal</a>-->
            <!--</li>-->
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="btn nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Employees
                    </a>

                    <div style="background-color: grey" class="dropdown-menu"
                         aria-labelledby="dropdownMenuLink">
                        <a class="nav-item nav-link" style="color: blue" type="button" th:href="@{restList}"
                           th:target="content">Restaurants list</a>
                        <a class="nav-item nav-link" style="color: #0000ff" type="button" th:href="@{/groupOrders}"
                           th:target="content">Open orders</a>
                        <!--<a class="dropdown-item" href="#">Lorem ipsum</a>-->
                    </div>
                </div>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                <div class="dropdown show">
                    <a class="btn nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>

                    <div style="background-color: grey" class="dropdown-menu"
                         aria-labelledby="dropdownMenuLink2">
                        <a href="#" style="color: #0000ff" type="button" th:href="@{/admin/addRestaurant}"
                           th:target="content" class="nav-item nav-link">Add restaurant</a>
                        <a href="#" style="color: #0000ff" type="button" th:href="@{/admin/adminList}"
                           th:target="content" class="nav-item nav-link">Registered admins</a>
                        <a style="color: #0000ff" type="button" th:href="@{/admin/addAdmin}" th:target="content"
                           class="nav-item nav-link">Add admin</a>
                    </div>
                    <!--</div>-->
            </li>
        </ul>
        <form th:if="${#authorization.expression('isAuthenticated()')}" th:action="@{/logout}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" >
                LOGOUT
            </button>
        </form>
        <form th:unless="${#authorization.expression('isAuthenticated()')}" class="form-inline my-2 my-lg-0" method="get" th:action="@{/login}">
            <!--<button class="btn btn-secondary my-2 my-sm-0" type="button" data-toggle="modal"-->
            <!--data-target="#loginModal">Login-->
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" >
                LOGIN
            </button>
        </form>
    </div>
</nav>

<!-- end navbar -->

<!-- login modal-->
<!--<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logint" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="logint">Login</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">×</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form class="form-signin" th:object="${user}"  method="post" th:action="@{/login}" target="content">-->

                    <!--<div class="form-label-group">-->
                        <!--<label for="email">Email address</label>-->
                        <!--<input type="email" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Email address"-->
                               <!--required autofocus>-->
                    <!--</div>-->

                    <!--<div class="form-label-group">-->
                        <!--<label for="password">Password</label>-->
                        <!--<input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Password"-->
                               <!--required>-->
                    <!--</div>-->


                    <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
                    <!--<p class="mt-5 mb-3 text-muted text-center">© 2018-2019</p>-->
                <!--</form>-->

            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- end login modal-->

<!-- content -->

<div class="container" style="padding-top: 70px;">
    <div class="content row">
        <!--<div class="col-md-2">-->
        <!--<div class="col-sm-2 col-md-2 col-lg-1 col-xl-1">-->
        <!--<nav class="navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap" style="background-color: crimson">-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarWEX" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <!--<div class="navbar-collapse collapse" id="navbarWEX">-->
        <!--<div class="nav flex-sm-column flex-row">-->

        <!--<label class="nav-item nav-link active" href="#">Employee control</label>-->
        <!--<a href="#"  class="nav-item nav-link" th:href="@{restList}" th:target="content">Restaurants list</a>-->
        <!--<a href="#" class="nav-item nav-link" th:href="@{/groupOrders}"  th:target="content">Open orders</a>-->
        <!--<div>-->
        <!--<label href="#" class="nav-item nav-link">Admin control</label>-->
        <!--<a href="#" th:href="@{/admin/addRestaurant}" th:target="content" class="nav-item nav-link">Add restaurant</a>-->
        <!--<a href="#"  th:href="@{/admin/adminList}" th:target="content" class="nav-item nav-link">Registered admins</a>-->
        <!--<a th:href="@{/admin/addAdmin}" th:target="content" class="nav-item nav-link">Add admin</a>-->
        <!--</div></div>-->
        <!--</div>-->
        <!--</nav>-->
        <!--</div>-->

        <!--</div>-->
        <div class="col-md-12 text-center" style="float: left;">
            <iframe th:src="@{/restList}" onload="f()" lass="embed-responsive-item"
                    style="height: 600%; width: 100%; border: black;"


                    name="content" id="content">


            </iframe>
        </div>
        <!--<div class="col-md-2"></div>-->

    </div>
</div>

<script>
    function f() {
        window.scrollTo(0, 0);

    }

</script>

<!--<footer>© 2018-2019</footer>-->
<!-- this template is made by silvan paul -->
</body>

<!--<script>-->
<!--function employee() {-->

<!--$.ajax({-->
<!--url : -->

<!--})-->
<!--}-->

<!--</script>-->
</html>


<!--<iframe th:onload="@{/admin/restaurantList}" lass="embed-responsive-item"  style="height:900px;width:1200px;border: none;"-->


<!--name="content" id="content">-->