<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<form th:method="post">
    <input type="text" th:name="creator" placeholder="Unesite svoje ime"/> </br>
    <select >
        <option th:each="restaurant : ${restorani}" th:value="${restaurant}" th:text="${restaurant.name}"


    </select>

    <input type="text" th:name="cena" placeholder="Unesite cenu vase narudzbine"/></br>
    <input type="submit" value="Naruci">
</form>
</body>
</html>