
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 <style>
     .user-row {
         margin-bottom: 14px;
     }

     .user-row:last-child {
         margin-bottom: 0;
     }

     .dropdown-user {
         margin: 13px 0;
         padding: 5px;
         height: 100%;
     }

     .dropdown-user:hover {
         cursor: pointer;
     }

     .table-user-information > tbody > tr {
         border-top: 1px solid rgb(221, 221, 221);
     }

     .table-user-information > tbody > tr:first-child {
         border-top: 0;
     }


     .table-user-information > tbody > tr > td {
         border-top: 0;
     }
     .toppad
     {margin-top:20px;
     }


 </style>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <!--<A href="edit.html" >Edit restaurant</A>-->

            <!--<A href="edit.html" >Logout</A>-->
            <br>
            <!--<p class=" text-info" th:text="${#temporals.createToday()}"></p>-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <!--<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" th:src="${'./uploads' + ${rest.menuUrl}}" class="img-circle img-responsive"> </div>-->

                        <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                          <dl>
                            <dt>DEPARTMENT:</dt>
                            <dd>Administrator</dd>
                            <dt>HIRE DATE</dt>
                            <dd>11/12/2013</dd>
                            <dt>DATE OF BIRTH</dt>
                               <dd>11/12/2013</dd>
                            <dt>GENDER</dt>
                            <dd>Male</dd>
                          </dl>
                        </div>-->
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information" th:object="${rest}">
                                <tbody>
                                <tr>
                                    <td>Restaurant:</td>
                                    <td th:text="*{name}"></td>
                                </tr>
                                <tr>
                                    <td>Phone number:</td>
                                    <td th:text="*{phoneNo}"></td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td th:text="*{adress}"></td>
                                </tr>

                                <tr>
                                <tr>
                                    <td>Email:</td>
                                    <td th:text="*{email}"></td>
                                </tr>
                                <tr>
                                    <td>Menu url:</td>
                                    <td><a th:href="@{'/downloadMenu/' + ${rest.menuUrl}}"  th:text="${rest.menuUrl}"></a></td>
                                </tr>
                                <tr>
                                    <td>Delivery info:</td>
                                    <td ><p th:text="*{deliveryInfo}"></p></td>
                                </tr>

                                </td>

                                </tr>

                                </tbody>
                            </table>

                            <a th:href="@{'/restaurantOrders/' + ${rest.id}}"  class="btn btn-primary">Open orders for this restaurant</a>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a  th:href="@{'/groupOrder/' + ${rest.id}}" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>

                    <span class="pull-right">
                            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{'/admin/editRestaurant/'+ ${rest.id}}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>

                            <!--<button  type="button" class="btn btn-danger" onclick=confirmation()  role="dialog"  > <i class="glyphicon glyphicon-remove"></i></button></form>-->
                        <a data-original-title="Remove this restaurant"  th:if="${#authorization.expression('isAuthenticated()')}" onclick=confirmation()   data-toggle="tooltip" type="button" role="dialog" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                </div>
                <form method="post"  th:object="${rest}" th:action="@{/admin/deleteRestaurant}"  th:value="${rest}"   >
                    <input hidden th:field="*{id}" th:value="*{id}">
                    <input hidden th:field="*{name}" th:value="*{name}">
                    <input hidden th:field="*{phoneNo}" th:value="*{phoneNo}">
                    <input hidden th:field="*{adress}" th:value="*{adress}">
                    <input hidden th:field="*{menuUrl}" th:value="*{menuUrl}">
                    <input hidden th:field="*{deliveryInfo}" th:value="*{deliveryInfo}">
                    <input hidden th:field="*{email}"></form>
            </div>
        </div>
    </div>
</div>
<script>
    // $(document).ready(function() {
    //     var panels = $('.user-infos');
    //     var panelsButton = $('.dropdown-user');
    //     panels.hide();
    //
    //     //Click dropdown
    //     panelsButton.click(function() {
    //         //get data-for attribute
    //         var dataFor = $(this).attr('data-for');
    //         var idFor = $(dataFor);
    //
    //         //current button
    //         var currentButton = $(this);
    //         idFor.slideToggle(400, function() {
    //             //Completed slidetoggle
    //             if(idFor.is(':visible'))
    //             {
    //                 currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
    //             }
    //             else
    //             {
    //                 currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
    //             }
    //         })
    //     });
    //
    //
    //     $('[data-toggle="tooltip"]').tooltip();
    //
    //     $('button').click(function(e) {
    //         e.preventDefault();
    //         alert("This is a demo.\n :-)");
    //     });
    // });
    function confirmation(event) {

        if(confirm("Do you really want to do this?"))
            document.forms[0].submit();
        else{

            return false;}
    }

</script>

</body>
</html>