
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>Restaurant list</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <h2>Restaurant List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Restaurant name</th>
            <th>Short name</th>
            <th>Adress</th>
            <th>Phone number</th>
            <th>Menu link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant, iStat : ${restaurants}"   >
            <td th:text=${iStat.count}  >id</td>
            <td th:text=${restaurant.name}>Restaurant name</td>
            <td th:text="${#strings.replace(restaurant.name,' ','_')}">Short name</td>
            <td th:text=${restaurant.adress}>Adresa</td>
            <td th:text=${restaurant.phoneNo}>Phone number</td>
            <td ><a th:href="@{'/downloadMenu/' + ${restaurant.menuUrl}}"  th:text=${restaurant.menuUrl}></a></td>
            <!--<td ><form th:action="@{/admin/editRestaurant}" th:object="${newRest}"  method="post">-->
                <!--<input hidden th:value=${restaurant.id} th:field="*{id}">-->
                <!--<input hidden th:value=${restaurant.name} th:field="*{name}">-->
                <!--<input hidden th:value=${restaurant.adress} th:field="*{adress}">-->
                <!--<input hidden th:value=${restaurant.phone_no} th:field="*{phone_no}">-->
                <!--<input hidden th:value=${restaurant.menu_url} th:field="*{menu_url}">-->
                <!--<input hidden th:value=${restaurant.delivery_info} th:field="*{delivery_info}">-->

                <!--<input type="submit"  class="btn btn-secondary"-->
            <!--th:value="DETAILS"></form>  </td>-->
            <td> <a th:href="@{'restDetails/' + ${restaurant.id}}"   type="button">DETAILS</a> </td>
            <!--<td > <a type="button" class="btn btn-primary" data-toggle="modal"   data-target="#loginModal" >GROUP ORDER</a></td>-->
            <td> <a th:href="@{'groupOrder/' + ${restaurant.id}}" class="btn btn-primary" type="button"> GROUP ORDER</a> </td>

            <!--th:href="@{'/anonymous/groupOrder/' +${restaurant.rname}}"-->
        </tr>
        </tbody>
    </table>
    <!--<form  th:action="@{/admin/addRestaurant}" method="get">-->
        <!--<button class="btn btn-primary" type="Submit">ADD NEW RESTAURANT</button>-->
    <!--</form>-->





</div>
    <!--<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logint" aria-hidden="true">-->
        <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<h5 class="modal-title" id="logint">Group order</h5>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">×</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<form class="form-signin" method="post" th:object="${Order}" th:action="@{groupOrder}">-->

                        <!--<div class="form-label-group">-->
                            <!--<label for="creator">Creator</label>-->
                            <!--<input type="text" id="creator" class="form-control" th:value="*{creator}" th:field="*{creator}" placeholder="Creator"  autofocus>-->
                        <!--</div>-->

                        <!--<div class="form-label-group">-->
                            <!--<label for="timeout">Timeout</label>-->
                            <!--<input type="number"  max="60" id="timeout" class="form-control" th:value="*{timeout}" th:field="*{timeout}"  placeholder="Timeout" >-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div hidden class="form-label-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label for="endTime">End Time</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="number"  max="60" id="endTime" class="form-control" th:value="*{#temporals.createNow().plus(10, )}" th:field="*{endTime}"  placeholder="Timeout" >&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-label-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label for="restaurant">Restaurant</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="" id="restaurant" class="form-control"  th:field="${List}"  placeholder="Restaurant name" required disabled>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--<div class="input-group">-->
                            <!--<div class="input-group-prepend">-->
                                <!--<label class="input-group-text" for="inputGroupSelect01">Restaurants</label>-->
                            <!--</div>-->
                            <!--<select class="custom-select" id="inputGroupSelect01" th:object="${newRest}" >-->
                               <!--<option th:each="restaurant : ${List}" th:value="${restaurant.name}" th:field="${newRest.setName(${restaurant.getName()})}" th:text="${restaurant.name}"/>-->

                            <!--</select>-->
                        <!--</div>-->

                        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
                        <!--<p class="mt-5 mb-3 text-muted text-center">© 2018-2019</p>-->
                    <!--</form>-->

                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>
<!--sec:authorize="hasRole('ADMIN')"-->