<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<div calss = "form-group col-md-12">
<div class="form-group">
    <div class="form-group">
    <form th:object="${newRest}" th:method="Post" ENCTYPE="multipart/form-data" th:action="${resButt == 'Save'} ? @{/admin/addRestaurant} : @{/admin/editRestaurant}" target="content">
        <div class="form-row">
           <div class="form-group col-md-8">
                <label for="restName">Restaurant name</label>
             <input type="text" class="form-control" id="restName" required placeholder="Ime restorana" th:value="*{name}" th:field="*{name}">
               <label type="text" style="font-family: 'Courier New'; color: red;" th:if="${#fields.hasErrors('name')}" th:errors = "*{name}">Name error</label>
             </div>
            <div class="form-group col-md-8">
                <label for="Phone">Phone Number</label>
                <input type="tel" pattern="06[0-9]{1}-[0-9]{3}-[0-9]{4}"class="form-control" id="Phone" placeholder="06x - xxx -xxxx" th:value="*{phoneNo}" th:field="*{phoneNo}">
                <label type="text" style="font-family: 'Courier New'; color: red;" th:if="${#fields.hasErrors('phoneNo')}" th:errors = "*{phoneNo}">PhoneNo error</label>
             </div>
         </div>
        <div class="form-group col-md-8">
            <label for="inputAddress">Restaurant address</label>
            <input type="text"  class="form-control" required id="inputAddress" placeholder="1234 Main St" th:value="*{adress}" th:field="*{adress}">
            <label type="text" style="font-family: 'Courier New'; color: red;" th:if="${#fields.hasErrors('adress')}" th:errors = "*{adress}">Address error</label>

        </div>
        <div class="form-group col-md-8">
            <label for="restEmail">Restaurant email</label>
            <input type="text"  class="form-control" required id="restEmail" placeholder="restaurant@email.com" th:value="*{email}" th:field="*{email}">
            <label type="text" style="font-family: 'Courier New'; color: red;" th:if="${#fields.hasErrors('email')}" th:errors = "*{email}">Address error</label>

        </div>
         <div class="form-group col-md-8">
        <label for="menuUrl">Menu url</label>
        <input type="text" class="form-control" required id="menuUrl" th:value="*{menuUrl}" th:field="*{menuUrl}">
             <label type="text" style="font-family: 'Courier New'; color: red;" th:if="${#fields.hasErrors('menuUrl')}" th:errors = "*{menuUrl}">Menu error</label>
        </div>

    <div class="form-group col-md-8">
        <label for="menuFile">Menu file</label>
        <input type="file" class="form-control" id="menuFile" name="file">
    </div>
        <div class="form-row">
             <div class="form-group col-md-8">
                    <label for="info">Delivery info</label>
                    <input type="text" class="form-control" id="info" th:value="*{deliveryInfo}" th:field="*{deliveryInfo}">
                    <input hidden th:field="*{id}" th:value="*{id}">
                    </br>
                    <button type="submit" class="btn btn-primary"  th:text="${resButt}"></button>
            </div>

        <!--<div class="form-group col-md-2">-->
            <!--<label for="inputZip">Zip</label>-->
            <!--<input type="text" class="form-control" id="inputZip">-->
        <!--</div>-->

    </div>
    <!--<div class="form-group">-->
        <!--<div class="form-check">-->
            <!--<input class="form-check-input" type="checkbox" id="gridCheck">-->
            <!--<label class="form-check-label" for="gridCheck">-->
                <!--Check me out-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->


    </form>

<div class="form group"></div>
<form method="post" th:if="${resButt.equals('Update')}" th:object="${newRest}" th:action="@{/admin/deleteRestaurant}"  th:value="${newRest}"   >
    <input hidden th:field="*{id}" th:value="*{id}">
    <input hidden th:field="*{name}" th:value="*{name}">
    <input hidden th:field="*{phoneNo}" th:value="*{phoneNo}">
    <input hidden th:field="*{adress}" th:value="*{adress}">
    <input hidden th:field="*{menuUrl}" th:value="*{menuUrl}">
    <input hidden th:field="*{deliveryInfo}" th:value="*{deliveryInfo}">
    <button  type="button" class="btn btn-danger" onclick=confirmation()  role="dialog"  > Delete</button>


</form></div>
</div>
</div>
<script>
    function confirmation(event) {

        if(confirm("Do you really want to do this?"))
            document.forms[1].submit();
        else{

            return false;}
    }
</script>



<h2 th:text="${restError}"> </h2>
</body>
</html>